 <%- include('partials/header')  %>

  <main>
   <section class="container_anuncio">

    <div id="container">

      <div class="container_img_caminhao">
        <img class="avatar-veiculo" src="/images/profile/<%= servico.foto_motorista %>" alt="">
      </div>

        <div id="info_motorista"> 

           <div class="container_nome_motorista">  <h2 class="nome_motorista"><%= servico.cliente.nome%> <%= servico.cliente.sobrenome%></h2> </div>

           <div class="dados_motorista">
              <div>
                <h3>Telefone:</h3>
                <p><%= servico.cliente.telefone%></p>
                <p class="descrição_motorista">
                  <%= servico.auto_descricao %>  
                </p>
              </div>
              <div>
                <h3>Serviço:</h3>
                  <div>
                      <p><%= servico.tipo_viagem %></p>
                    <h3>Veiculo:</h3>
                      <h4>modelo: <%= servico.veiculo.modelo_veiculo %></h4>
                      <h4>ano: <%= servico.veiculo.ano_veiculo %></h4>
                      <img class="avatar-veiculo" src="/images/profile/<%= servico.veiculo.foto_veiculo1 %>" alt="">
                    </h4>
                    <h4>
                      Preço/km: <%= servico.preco %>
                    </h4>
                      <div>
                          <a href="/servicos/contratar/<%= servico.id_servico %>"><button class="botao_dashboard" id="detalhe" type="submit" name="verDetalhe">CONTRATAR</button>
                          </a>
                      </div> 
              </div>  
            </div>

        </div>

        <!-- <div id="bate_papo">
           <img src="images/whatsapp.svg">
        </div> -->

    </div>

    <!-- <h3>
        Comentários
    </h3>

    <div id="comentarios">
       <p>
        O senhor José é muito simpático, atencioso e prestativo. Ajudou meu marido a colocar toda mudança no caminhão, com cuidado. Super recomendo.
       </p>
       <div id= "avaliacao">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
        <img src="https://img2.gratispng.com/20180325/kue/kisspng-star-cartoon-clip-art-5-star-5ab7efc7016fa1.6508644315220039110059.jpg" alt="avaliação">
    </div> -->

    </div>
    </section>
        
        <%- include('partials/popup')  %>

  </main>

<%- include('partials/footer')  %> 