<%- include('partials/header') %>
  <main>
    <aside>
      <select id="estado" name="estado">
        <% cidadesEstados.forEach(estado=> { %>
          <option value="<%= estado.siglas %> ">
            <%= estado.nome %>
          </option>
          <% }) %>
      </select>

      <select id="cidade" name="cidade">

      </select>
    </aside>

    <div class="container_botoes">
      <button type="button" class="botoes no_active filtro">Filtrar</button>
    </div>

    <section class="painel-principal">
      <h2 class="label_painel-principal">Motorista em sua região</h2>
    </section>

    <section class="painel_motoristas">
      <div><img class="perfil_motorista" id="volvo"
          src="https://logodownload.org/wp-content/uploads/2017/10/volvo-logo-2-1.png"></id>
      </div>
      <div><img class="perfil_motorista" id="volvo"
          src="https://logodownload.org/wp-content/uploads/2017/10/volvo-logo-2-1.png"></id>
      </div>
      <div><img class="perfil_motorista" id="scania"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRhmgTXO96x-UtWlZ-8b0LjuZ_G2BmQrdTcw&usqp=CAU">
        </id>
      </div>
      <div><img class="perfil_motorista" id="scania"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRhmgTXO96x-UtWlZ-8b0LjuZ_G2BmQrdTcw&usqp=CAU">
        </id>
      </div>
      <div><img class="perfil_motorista" id="ford"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0lZTb-TmKLKtVbCQetzTv5YT40zs0S-ZQ3w&usqp=CAU">
        </id>
      </div>
      <div><img class="perfil_motorista" id="ford"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0lZTb-TmKLKtVbCQetzTv5YT40zs0S-ZQ3w&usqp=CAU">
        </id>
      </div>
      <div><img class="perfil_motorista" id="volkswagen"
          src="https://marcas-logos.net/wp-content/uploads/2020/03/Volkswagen-Logo-1967.jpg"></id>
      </div>
      <div><img class="perfil_motorista" id="volkswagen"
          src="https://marcas-logos.net/wp-content/uploads/2020/03/Volkswagen-Logo-1967.jpg"></id>
      </div>
      <div><img class="perfil_motorista" id="mercedes-benz"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReG5KVo7cf8VV81f-vdWyw3o07gTNEOhDW8g&usqp=CAU">
        </id>
      </div>
      <div><img class="perfil_motorista" id="mercedes-benz"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReG5KVo7cf8VV81f-vdWyw3o07gTNEOhDW8g&usqp=CAU">
        </id>
      </div>
    </section>

    <%- include('partials/popup') %>

  </main>

  <%- include('partials/footer') %>